.Main
  .Main__group
    .Main__group__box
      .Main__group__box__group-name
        = @group.name
      .Main__group__box__member-name
        Member:
        -@group.users.each do |user|
          = user.name
    .Main__group__edit-btn
      = link_to edit_group_path(@group.id), class: "Edit-btn" do
        Edit
  .Main__message
    = render @messages

  .Main__form
    = form_with model: [@group, @message], html: {class: "Main__form__input"}, local: true do |f|
      .Main__form__input__box
        = f.text_field :content, class: 'Main__form__input__box__text',placeholder: 'type a message'
        = f.label :image, class: 'Main__form__input__box__image' do
          = icon('far','image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'Main__form__input__submit-btn'

